<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>CFBundleDevelopmentRegion</key>
      <string>$(DEVELOPMENT_LANGUAGE)</string>
      <key>CFBundleDisplayName</key>
      <string>Pharma Health Expo</string>
      <key>CFBundleExecutable</key>
      <string>$(EXECUTABLE_NAME)</string>
      <key>CFBundleIdentifier</key>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>pharmahealthexpo</string>
      <key>CFBundlePackageType</key>
      <string>APPL</string>
      <key>CFBundleShortVersionString</key>
      <string>$(FLUTTER_BUILD_NAME)</string>
      <key>CFBundleSignature</key>
      <string>????</string>
      <key>CFBundleVersion</key>
      <string>$(FLUTTER_BUILD_NUMBER)</string>
      <key>LSRequiresIPhoneOS</key>
      <true/>
      <key>UILaunchStoryboardName</key>
      <string>LaunchScreen</string>
      <key>UIMainStoryboardFile</key>
      <string>Main</string>
      <key>UISupportedInterfaceOrientations</key>
      <array>
         <string>UIInterfaceOrientationPortrait</string>
         <string>UIInterfaceOrientationLandscapeLeft</string>
         <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
      <key>UISupportedInterfaceOrientations~ipad</key>
      <array>
         <string>UIInterfaceOrientationPortrait</string>
         <string>UIInterfaceOrientationPortraitUpsideDown</string>
         <string>UIInterfaceOrientationLandscapeLeft</string>
         <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
      <key>CADisableMinimumFrameDurationOnPhone</key>
      <true/>
      <key>UIApplicationSupportsIndirectInputEvents</key>
      <true/>
      <key>UIStatusBarHidden</key>
      <false/>
      <key>ITSAppUsesNonExemptEncryption</key>
      <false/>

      <key>NSCameraUsageDescription</key>
      <string>Nous avons besoin d'accéder à votre caméra pour scanner les badges et les codes QR de l'exposition.</string>
      <key>NSPhotoLibraryUsageDescription</key>
      <string>Nous avons besoin d'accéder à votre galerie pour vous permettre de choisir et de sauvegarder des images de l'événement.</string>
      <key>NSCalendarsUsageDescription</key>
      <string>Nous avons besoin d'accéder à votre calendrier pour ajouter les dates et les sessions de l'exposition.</string>
      <key>NSLocationWhenInUseUsageDescription</key>
      <string>Nous avons besoin de votre position pour vous guider vers le lieu de l'exposition sur la carte.</string>
   </dict>
</plist>